/* Reset global para eliminar márgenes,
   padding y mantener tamaños consistentes. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales de toda la aplicación.
   Define fondo principal y evita scroll horizontal. */

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;

  background: radial-gradient(circle at top, #031826, #020c1b);
}

/* Estilos base del componente raíz Angular. */

app-root {
  display: block;
  min-height: 100vh;
  background: radial-gradient(circle at top, #031826, #020c1b);
}
